In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../data/processed/data_warehouse.csv', delimiter=';')

In [3]:
df.head()

,ClientID,Status,CustomerAge,Gender,DependentCount,Education,MaritalStatus,IncomeCategory,CardCategory,MonthsOnBook,TotalRelationshipCount,MonthsInactiveIn12Month,ContactsCountIn12Month,CreditLimit,TotalREvolvingBalance,AvgOpenToBuy,TotalTransAmt,TotalTransCT,AvgUtilizationRatio
0,768805383,Existing Customer,40s,M,Moderate Dependents,High School,Married,$60K - $80K,Blue,39,5,1,3,12691,777,11914,1144,42,"0,061"
1,818770008,Existing Customer,40s,F,Many Dependents,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256,864,7392,1291,33,"0,105"
2,713982108,Existing Customer,50s,M,Moderate Dependents,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418,0,3418,1887,20,0
3,769911858,Existing Customer,40s,F,Moderate Dependents,High School,Unknown,Less than $40K,Blue,34,3,4,1,3313,2517,796,1171,20,"0,76"
4,709106358,Existing Customer,40s,M,Moderate Dependents,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716,0,4716,816,28,0

In [4]:
df.shape

(10127, 19)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ClientID                 10127 non-null  int64
 1   Status                   10127 non-null  object
 2   CustomerAge              10127 non-null  object
 3   Gender                   10127 non-null  object
 4   DependentCount           10127 non-null  object
 5   Education                10127 non-null  object
 6   MaritalStatus            10127 non-null  object
 7   IncomeCategory           10127 non-null  object
 8   CardCategory             10127 non-null  object
 9   MonthsOnBook             10127 non-null  int64
 10  TotalRelationshipCount   10127 non-null  int64
 11  MonthsInactiveIn12Month  10127 non-null  int64
 12  ContactsCountIn12Month   10127 non-null  int64
 13  CreditLimit              10127 non-null  object
 14  TotalREvolvingBalance    10127 non-null  int64
 15  AvgOpenToBuy             10127 non-null  object
 16  TotalTransAmt            10127 non-null  int64
 17  TotalTransCT             10127 non-null  int64
 18  AvgUtilizationRatio      10127 non-null  object
dtypes: int64(8), object(11)
memory usage: 1.5+ MB

In [6]:
#df['ClientID'] = df['ClientID'].astype('int')
#df['DependentCount'] = df['DependentCount'].astype('int')