In [1]:
import pandas as pd

In [19]:
df = pd.read_csv('../../data/processed/data_warehouse.csv', delimiter=';')

In [22]:
df.isnull().sum()

ClientID                   0
Status                     0
CustomerAge                0
Gender                     0
DependentCount             0
Education                  0
MaritalStatus              0
IncomeCategory             0
CardCategory               0
MonthsOnBook               0
TotalRelationshipCount     0
MonthsInactiveIn12Month    0
ContactsCountIn12Month     0
CreditLimit                0
TotalREvolvingBalance      0
AvgOpenToBuy               0
TotalTransAmt              0
TotalTransCT               0
AvgUtilizationRatio        0
dtype: int64

In [21]:
df['ClientID'] = df['ClientID'].astype('int')
df['DependentCount'] = df['DependentCount'].astype('int')

In [18]:
df[df['Status'].isnull() == True]

,ClientID,Status,CustomerAge,Gender,DependentCount,Education,MaritalStatus,IncomeCategory,CardCategory,MonthsOnBook,TotalRelationshipCount,MonthsInactiveIn12Month,ContactsCountIn12Month,CreditLimit,TotalRevolvingBalance,AvgOpenToBuy,TotalTransAmt,TotalTransCT,AvgUtilizationRatio
10127,(10127 rows affected),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10128,Completion time: 2023-03-03T19:53:14.9877007+0...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN